@page
@model SLD521.Pages.locationModel

<style>
    /* Style for the heading */
    h1 {
        text-align: center;
        font-size: 24px;
        color: #333;
    }

   


    /* Style for the list of favorite items */
    h2 {
        margin-top: 20px;
        font-size: 18px;
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin: 5px 0;
        font-size: 16px;
        color: #007BFF;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #007BFF;
        color: white;
        text-align: center;
        padding: 20px 0;
    }

   



    ::-webkit-scrollbar {
        width: 10px; /* Set the width of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #007BFF; /* Color of the scrollbar thumb */
        border-radius: 5px; /* Rounded corners for the thumb */
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #0056b3; /* Color on hover */
        }

    ::-webkit-scrollbar-track {
        background-color: #f0f0f0; /* Color of the scrollbar track */
    }
</style>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d114973.57950763662!2d28.162792598418463!3d-25.77306185535745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scomic%20books%20stores%20in%20Pretoria!5e0!3m2!1sen!2sza!4v1695304371352!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
